body {
    padding-top: 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",  Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 200;
    background-color: rgb( 190 , 229 , 237 );
    color: rgb( 112 , 138 , 144)
        }

.head {
    padding: 20px 0;
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",  Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 200;
    color: #006688;
}
    
.title h1{
    color: #006688;

}

.title h3{
    color: rgb( 112 , 138 , 144)
}

.h3{
    color:blue;
}

.menu-section1 {
    color:white;
    padding-top: 20px;
}
​